@import url('https://fonts.googleapis.com/css?family=PT+Sans');

#footerContent {
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
}

footer {
    color: #6E90A0;
    padding: 0 5% 0 5%;
    width: 90%;
    text-align: center;
} 